<div class="pr-main" id="">
        <form class="form-inline" role="form" style="float: left; width: 100%" method="post" id="queryForm">
            <div class="form-group">
                <label>统计维度：</label>
                <div class="cus-slider" id="prChooseFormatter">
                    <div class="slider-item">日</div>
                    <div class="slider-item">月</div>
                </div>
            </div>
            <div class="form-group">
                <label>统计时间：</label>
                <input name="timeStart" type="text" class="Wdate" id="prd4311"/>&nbsp;--&nbsp;<input name="timeEnd" type="text" class="Wdate" id="prd4312"/>
            </div>
            <div class="form-group">
                <a id="queryBtn" class="cus-img-btn cus-ib-query">查询</a>
            </div>
            <div class="form-group btn-right">
                <a id="conformBtn" class="cus-img-btn cus-ib-export">导出</a>
            </div>
        </form>

    <div class="rm-table scroll-table">
        <table id="rm-table">
        </table>
    </div>
</div>