<div id="ps-interval" class="l-main aside-main">
    <div class="cus-item item-1" attr-href="partial/home/plantView.html">
        <h2><a class="tit">电站概况</a></h2>
        <div class="section" id="column1"></div>
    </div>
    <div class="cus-item item-2" attr-href="partial/home/plantMap.html">
        <h2><a class="tit">电站地图</a></h2>
        <div class="section" id="column2"></div>
    </div>
    <div class="cus-item item-3" attr-href="partial/home/weather.html">
        <h2><a class="tit">天气预报</a></h2>
        <div class="section" id="column3"></div>
    </div>
</div>
<div id="" class="c-main">
    <div class="content content-1 cus-item" attr-href="partial/home/configurationMsg.html"></div>
    <div class="content content-2 cus-item" attr-href="partial/home/chargePower.html"></div>
    <div class="content content-3 cus-item" attr-href="partial/home/bottom.html"></div>
</div>
<div id="" class="r-main aside-main">
    <div class="cus-item item-1" attr-href="partial/home/plantIncom.html">
        <h2><a class="tit">电站收益</a></h2>
        <div class="section" id="column4"></div>
    </div>
    <div class="cus-item item-2" attr-href="partial/home/energyStatics.html">
        <h2><a class="tit">收益统计</a><!--<span class="cus-item-tips">累计充放电次数：<i id="totalChargeTimes">3529</i>次</span>--></h2>
        <div class="section" id="column5"></div>
    </div>
    <div class="cus-item item-3" attr-href="partial/home/pcsStatics.html">
        <h2><a class="tit">充放电量统计</a></h2>
        <div class="section" id="column6"></div>
    </div>
</div>
