<div class="cus-weather">
    <p class="cw-tit" id="we_dateFormatter0"></p>
    <div class="cw-content clearfix">
        <ul>
            <li class="cus-firstLi cus-li">
                <div class="cw-icon"><img id="we_nightPictureUrl0" src="/images/3d_180/2.png" alt=""></div>
                <div class="cw-temp" id="we_temperature0"></div>
                <div class="cw-weather" id="we_weather0"></div>
                <div class="cw-wind" id="we_wind0"></div>
            </li>
            <li class="cus-split"></li>
            <li class="cus-li cus-sectLi">
                <div class="cw-week" id="we_date1"></div>
                <div class="cw-date" id="we_dateYear1"></div>
                <div class="cw-icon"><img id="we_nightPictureUrl1" src="" alt=""></div>
                <div class="cw-temp" id="we_temperature1"></div>
                <div class="cw-weather" id="we_weather1"></div>
                <div class="cw-wind" id="we_wind1"></div>
            </li>
            <li class="cus-split"></li>
            <li class="cus-li cus-thrLi">
                <div class="cw-week" id="we_date2"></div>
                <div class="cw-date" id="we_dateYear2"></div>
                <div class="cw-icon"><img id="we_nightPictureUrl2" src="" alt=""></div>
                <div class="cw-temp" id="we_temperature2"></div>
                <div class="cw-weather" id="we_weather2"></div>
                <div class="cw-wind" id="we_wind2"></div>
            </li>
        </ul>
    </div>
</div>