body {
  font-family: '微软雅黑';
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background: #FFF;
  font-size: 14px;
  color: #a5e2f9;
  display: block!important;
}
body > div {
  margin-right: auto;
  margin-left: auto;
}
div,
form,
ul,
ol,
li,
span,
p {
  margin: 0;
  padding: 0;
  border: 0;
}
img,
a img {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
table,
td,
input {
  font-size: 14px;
}
input[type="text"],
input[type="password"] {
  background: transparent;
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
}
.cus-chart {
  text-align: left;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: #000000;
}
a {
  outline-style: none;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.container {
  font-size: 14px;
}
.clearfix:after {
  centent: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a5e2f9;
  opacity: .3;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a5e2f9;
  opacity: .3;
}
input:-ms-input-placeholder {
  color: #a5e2f9;
  opacity: .3;
}
input::-webkit-input-placeholder {
  color: #a5e2f9;
  opacity: .3;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #0D1635;
}
.cus-top-nav-massage,
.cus-main-navbar,
.mainContainer {
  width: 100%;
}
.cus-mask {
  position: fixed;
  width: 100%;
  height: 100%;
}
.cus-img-btn,
.cus-noimg-btn {
  background: transparent;
  border: 1px solid #075E94;
  display: inline-block;
  padding: 3px 13px;
  border-radius: 3px;
  color: #a5e2f9;
  background-color: #011E42;
}
.cus-img-btn:before,
.cus-noimg-btn:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/images/btnIcon/rcBtn.png) center no-repeat;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -2px;
}
.cus-img-btn:hover,
.cus-noimg-btn:hover {
  background-color: #002C61;
  color: #a5e2f9;
}
.cus-img-btn:first-child,
.cus-noimg-btn:first-child {
  margin-left: 0;
}
.cus-noimg-btn:before {
  display: none;
}
.modal .cus-img-btn {
  padding: 4px 13px;
}
.modal-header .close {
  margin-top: 0;
}
.modal-dialog {
  margin: 0 auto;
  position: absolute;
}
.modal-content {
  background-color: transparent;
  background-size: 100% 100%;
  text-align: left;
}
.modal-header {
  height: 35px;
  line-height: 35px;
  padding: 0;
  background-color: transparent;
  text-align: left;
  border-bottom: 1px solid #133D70;
}
.modal-header .modal-title {
  line-height: inherit;
}
.modal-header .modal-borderl {
  float: left;
  width: 26px;
  height: 34px;
  background: url("/images/plantstatus/dialog-tl.png") 0 0 no-repeat;
}
.modal-header .modal-borderc {
  float: left;
  width: calc(100% - 61px);
  height: 34px;
  line-height: 34px;
  background: url("/images/plantstatus/dialog-t.png") 0 0 repeat-x;
}
.modal-header .modal-borderr {
  float: left;
  width: 35px;
  height: 34px;
  background: url("/images/plantstatus/dialog-tr.png") 0 0 no-repeat;
}
.modal-body {
  padding-bottom: 0;
  background-color: #001733;
}
.modal-footer {
  text-align: center;
  border-top: none;
  padding: 0;
  background-color: transparent;
}
.modal-footer .modal-btn {
  margin-left: 70px;
  border: 1px solid #006699;
}
.modal-footer .modal-btn:first-child {
  margin-left: 0;
}
.modal-footer .cus-img-btn + .cus-img-btn {
  margin-left: 70px;
}
.modal-footer .modal-borderbl {
  float: left;
  width: 30px;
  height: 70px;
  background: url("/images/plantstatus/dialog-bl.png") 0 0 no-repeat;
}
.modal-footer .modal-borderbc {
  float: left;
  width: calc(100% - 60px);
  /* width: 30px; */
  padding-top: 20px;
  height: 70px;
  background: url(/images/plantstatus/dialog-b.png) 0 0 repeat-x;
}
.modal-footer .modal-borderbr {
  float: left;
  width: 30px;
  height: 70px;
  background: url("/images/plantstatus/dialog-br.png") 0 0 no-repeat;
}
.close {
  position: absolute;
  right: 35px;
  color: #92d4ec;
  opacity: 0.9;
  line-height: inherit;
  margin-right: -16px;
}
.close:hover,
.close:focus {
  color: #92d4ec;
  opacity: 1;
}
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.cus-ib-start:before {
  background: url("/images/btnIcon/start-btn.png") no-repeat center;
}
.cus-ib-shutdown:before {
  background: url("/images/btnIcon/shutdown-btn.png") no-repeat center;
}
.cus-ib-imstop:before {
  background: url("/images/btnIcon/imstop-btn.png") no-repeat center;
}
.ceh-excut:before {
  background: url("/images/btnIcon/excut-btn.png") no-repeat center;
}
.cus-ib-query:before {
  background: url("/images/alarmManagement/query-btn.png") no-repeat center;
}
.cus-ib-clear:before {
  background: url("/images/alarmManagement/clear-btn.png") no-repeat center;
}
.cus-ib-confirm:before {
  background: url("/images/alarmManagement/confirm-btn.png") no-repeat center;
}
.cus-ib-cancel:before {
  background: url("/images/btnIcon/cancel-btn.png") no-repeat center;
}
.cus-ib-export:before {
  background: url("/images/btnIcon/export-btn.png") no-repeat center;
}
.cus-ib-switch:before {
  background: url("/images/alarmManagement/switch-btn.png") no-repeat center;
}
.form-group .cus-img-btn + .cus-img-btn {
  margin-left: 45px;
}
.checkboxContainer {
  display: inline-block;
  position: relative;
  margin-left: 8px;
}
.checkboxContainer span {
  cursor: default;
}
.checkboxContainer label {
  margin-bottom: 2px;
}
.checkboxContainer .inputCheck {
  position: absolute;
  width: 14px;
  height: 14px;
  visibility: hidden;
}
.checkboxContainer .inputCheck + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("/images/index/unchecked.png");
}
.checkboxContainer .inputCheck:checked + label {
  background: url("/images/index/checked.png");
}
.checkboxContainer + .checkboxContainer {
  margin-left: 17px;
}
.bootstrap-table .fixed-table-header {
  background-color: #011e42;
}
.bootstrap-table thead > tr {
  background-color: #011e42;
  height: 60px;
}
.bootstrap-table tr {
  height: 50px;
  background-color: rgba(1, 30, 66, 0.5);
}
.bootstrap-table .table {
  border-bottom-color: #075e94;
}
.bootstrap-table .fixed-table-container thead th .th-inner,
.bootstrap-table .fixed-table-container tbody td .th-inner {
  line-height: 44px;
}
.bootstrap-table .bs-checkbox {
  line-height: 33px;
}
.bootstrap-table .fixed-table-container {
  border-color: #075e94;
  border: none;
}
.bootstrap-table .table > thead > tr > th {
  border-color: #075e94;
}
.bootstrap-table .table > thead > tr > th,
.bootstrap-table .table > tbody > tr > th,
.bootstrap-table .table > tfoot > tr > th,
.bootstrap-table .table > thead > tr > td,
.bootstrap-table .table > tbody > tr > td,
.bootstrap-table .table > tfoot > tr > td {
  border-top-color: #075e94;
}
.bootstrap-table .fixed-table-container thead th {
  border-left-color: #075e94;
}
.bootstrap-table .fixed-table-container tbody td {
  border-left-color: #075e94;
}
.bootstrap-table .fixed-table-loading {
  background-color: transparent;
}
.bootstrap-table .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(1, 30, 66, 0.1);
}
.bootstrap-table .fixed-table-container tbody .selected td {
  background-color: #011e42;
}
.bootstrap-table .table-hover > tbody > tr:hover {
  background-color: #011e42;
}
.bootstrap-table .btn {
  padding: 0 7px;
}
.bootstrap-table .btn-default {
  color: #a5e2f9;
  background-color: #011e42;
  border-color: #075e94;
}
.bootstrap-table .mCSB_scrollTools {
  border-left: 1px solid #075e94;
  width: 30px;
}
.mCSB_container_wrapper {
  margin-right: 16px;
  margin-bottom: 16px;
}
.fixed-table-pagination .pagination a {
  margin-left: 15px;
  color: #a5e2f9;
  cursor: default;
  background-color: #011e42;
  border-color: #075e94;
  padding: 0px 7px;
  line-height: 1.428571429;
  border-radius: 3px;
}
.fixed-table-pagination .pagination a:hover {
  background-color: #002C61;
  color: #a5e2f9;
  border-color: #075e94;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(1, 30, 66, 0.125);
  box-shadow: inset 0 3px 5px rgba(1, 30, 66, 0.125);
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #a5e2f9;
  background-color: #011e42;
  border-color: #075e94;
}
.dropdown-menu {
  background-color: #011f43;
  color: #a5e2f9;
}
.dropdown-menu li a {
  color: #a5e2f9;
}
.dropdown-menu li a:hover {
  color: #a5e2f9;
  background-color: #1e90ff;
}
.fixed-table-pagination div.pagination .pagination {
  margin-top: 10px;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  padding-bottom: 2px;
  line-height: 17px;
}
.caret {
  margin-top: -3px;
  vertical-align: middle;
}
.page-number.active a {
  background-color: #a5e2f9;
  color: #0a1933;
}
.page-number.active a:hover,
.page-number.active a:hover {
  background-color: #a5e2f9;
  color: #0a1933;
}
.fixed-table-body {
  border: 1px solid #075e94;
}
.scroll-table .fixed-table-body {
  border-top: none;
}
.bootstrap-table .fixed-table-header {
  border: 1px solid #075e94;
  border-bottom: none;
}
.fixed-table-container thead th .sortable {
  padding-right: 20px;
}
input.Wdate {
  width: 126px;
  height: 26px;
  line-height: 26px;
  border-color: #075e94;
  background: transparent url(/images/btnIcon/date-btn.png) no-repeat 93% 5px;
}
.table tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #021C3F;
}
/*
@media screen and (max-width: 1500px){
  body{
    font-size: 12px;
  }
}
@media screen and (max-width: 1365px){
  .cus-top-nav-massage,.cus-main-navbar,.mainContainer{
    width:1500px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 40%;
  }
}*/
.cus-body-container {
  width: 1920px;
  height: 1079px;
  overflow: hidden;
  background: url("/images/plantstatus/bac.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .cus-body-container {
    height: 1080px;
  }
}
.mainPage {
  height: 100%;
}
.cus-top-nav-massage {
  height: 40px;
  line-height: 40px;
  background-color: #030a13;
  color: #a5e2f9;
}
.cus-top-nav-massage .logo {
  float: left;
}
.cus-top-nav-massage .logo img {
  margin-left: 10px;
  vertical-align: middle;
  margin-top: -4px;
}
.cus-top-nav-massage .logo span {
  margin-left: 3px;
  font-size: 1.29em;
}
.cus-top-nav-massage .toolbar {
  float: right;
  line-height: 40px;
  vertical-align: middle;
}
.cus-top-nav-massage .toolbar .cus-item {
  margin-left: 20px;
}
.cus-top-nav-massage .toolbar .cus-item:last-child {
  margin-right: 20px;
}
.cus-top-nav-massage .toolbar .cus-item img {
  margin-right: 10px;
}
.cus-top-nav-massage .cus-userMsg {
  position: relative;
  display: inline-block;
}
.cus-top-nav-massage .cus-userMsg .cus-dropBar {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.2);
  left: 3px;
  width: 111px;
  border-radius: 5px;
}
.cus-top-nav-massage .cus-userMsg .cus-dropBar li:hover {
  color: #ffcc33;
}
.cus-top-nav-massage .cus-userMsg .triangle-up {
  position: absolute;
  top: -12px;
  width: 0;
  left: 44px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid rgba(255, 255, 255, 0.2);
}
.cus-top-nav-massage .cus-userMsg:hover .cus-dropBar {
  display: block;
}
.cus-main-navbar {
  height: 77px;
}
.cus-main-navbar ul {
  height: 100%;
  float: left;
  width: 100%;
}
.cus-main-navbar li {
  float: left;
  width: 33.33%;
  height: 100%;
  line-height: 3.7;
  background-color: #001b3b;
  border-bottom: 5px solid #001b3b;
  font-size: 1.42em;
  color: #a5e2f9;
}
.cus-main-navbar li.active {
  background-color: #012754;
  color: #a5e2f9;
  border-bottom: 5px solid #16457e;
}
.cus-main-navbar li:hover {
  cursor: pointer;
}
.cus-main-navbar li a:before {
  content: ' ';
  display: inline-block;
  width: 34px;
  height: 33px;
  vertical-align: middle;
  margin-bottom: 6px;
  margin-right: 7px;
}
.cus-main-navbar li a.psIndex:before {
  background: url("../images/index/dzzt.png") no-repeat right;
}
.cus-main-navbar li a.amIndex:before {
  background: url("../images/index/gjgl.png") no-repeat right;
}
.cus-main-navbar li a.saIndex:before {
  background: url("../images/index/tjfx.png") no-repeat right;
}
.cus-main-navbar li a.rmIndex:before {
  background: url("../images/index/bbgl.png") no-repeat right;
}
.mainContainer {
  height: 964px;
}
.cus-modifyPwdWin label {
  font-weight: 500;
}
.cus-modifyPwdWin .mf-inp {
  margin-top: 14px;
}
.cus-modifyPwdWin label {
  display: inline-block;
  width: 33%;
  text-align: right;
}
.cus-modifyPwdWin input {
  border: 1px solid #075e94;
  width: 200px;
}
