.setPage {
  text-align: left;
}
.setPage .viewForm span {
  color: #00ff00;
}
.setPage .formLine {
  margin-top: 22px;
}
.setPage .formLine > label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 15px;
}
.setPage input[type='text'] {
  width: 410px;
}
.setPage .genderInp {
  display: inline-block;
}
.setPage .genderInp .radioStyle {
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  background-image: url(/images/setting/radio.png);
  background-repeat: no-repeat;
}
.setPage .genderInp .radioStyle.on {
  background-image: url(/images/setting/radioActive.png);
}
.setPage .genderInp input {
  width: 16px;
  /*height: 16px;
      vertical-align: middle;
      margin-bottom: 6px;
      margin-right: 4px;*/
  opacity: 0;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.setPage .cus-btnBar {
  margin-left: 200px;
  margin-top: 110px;
}
.setPage .cus-btnBar .cus-img-btn + .cus-img-btn {
  margin-left: 50px;
}
